<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #9084e6;
        }

        section {
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            color: #333;
        }

        p {
            line-height: 1.6;
            color: #666;
        }
    </style>
</head>

<body>
    <header>
        <h1>About Us Page</h1>
    </header>

    <section>
        <h2>Our Story</h2>
        <p>Welcome to our News Portal! We are dedicated to...</p>

        <h2>Our Mission</h2>
        <p>Our mission is to give you latest info...</p>

        <h2>Meet the Team</h2>
        <p>Get to know the faces behind our success:</p>
        <ul>
            <li>Miroslav Ilic - CEO</li>
            <li>Milos Stefanovic - CTO</li>
            <li>Micko Tomic - Marketing Director</li>
        </ul>
    </section>
</body>

</html>