<%- include('./shared/header') %>
<h1>This is home page</h1>
<div class="content-container">
    <div class="text-container homepage">
<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae ipsum facilisi mi aenean lobortis dolor elit ac primis. Montes fermentum inceptos conubia eros dictum. Rutrum sodales adipiscing magnis pulvinar placerat vivamus vivamus. Ante metus rhoncus vel dapibus; enim adipiscing quisque. Arcu blandit rutrum ultricies, facilisis risus viverra rhoncus. Quisque conubia penatibus nec ex odio netus augue curae sociosqu.
    <br>
    
    Tempus auctor molestie elit mollis nisl suspendisse enim. Dolor ornare congue mattis consequat dapibus urna cras class. Turpis ex habitasse erat semper condimentum mauris. Dis neque maximus tincidunt quis habitasse. Non viverra justo pretium maecenas sem dictum amet mus molestie. Diam neque congue sed ac facilisi ad penatibus. Sodales eleifend pharetra cursus egestas consectetur interdum vitae sit. Enim fames augue mollis ad penatibus conubia fusce gravida sit. Dapibus arcu blandit sodales posuere sociosqu leo in aenean.
    </p>
    
    Lacus accumsan elementum ornare, libero venenatis a sollicitudin etiam suspendisse. Libero praesent odio blandit, ultrices cubilia sodales. Adipiscing pellentesque quis; ornare condimentum venenatis facilisis ultrices. Conubia diam proin diam justo mus nostra dignissim. Conubia vivamus etiam; gravida vel est sed. Senectus commodo conubia nascetur torquent ullamcorper convallis ante suscipit? Odio egestas tempus tellus, malesuada enim vitae hendrerit at. Rutrum nullam augue tortor vel penatibus pharetra.
    <br>

    <p>Parturient facilisis interdum porttitor dictum, libero platea parturient? Sed proin facilisis sit maximus netus. Platea phasellus nibh ante euismod mus torquent lobortis accumsan. Ut malesuada augue libero semper elementum justo nostra hendrerit. Maximus mus facilisis dignissim velit dis imperdiet nostra volutpat magnis. Himenaeos purus dolor varius mus velit facilisis dolor. Proin interdum inceptos proin viverra class.
    
    Parturient tortor sapien fringilla tincidunt suscipit vitae natoque ut. </p>
</div>
    <div class="image-container">
        <img class="homepage-img" src="./images/homepage.jpg" alt="homepage image"/>
    </div>
</div>
<%- include('./shared/footer') %>