body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(128, 147, 225);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #9084e6;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #333;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.text-container {
    flex: 1;
    max-width: 60%; 
    margin-right: 5rem;
    align-items: flex-start;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex;
}

.image {
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

@media (max-width: 768px) {

    .content-container {
        align-items: left;
    }
}

footer {
    bottom: 0;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  
.homepage-img {
    width: 300px;;
    height: 300px;
  }

  .navbar-nav .nav-item.active .nav-link {
    color: #bcbfc4;
    font-weight: bold;
  }

  .icon {
    width: 2.5rem;
    height: auto;
    margin-right: 1rem;
  }
  
  .homepage {
    margin-left: 3rem;
  }